# Dependencies
node_modules/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# SSL Certificates
cert/
*.pem

# Logs
access.log
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
